<p id="notice"><%= notice %></p>

  <div class="row center">
    <div class="col-sm-1 col-sm-offset-2">
      <div class="logo">
        <%= link_to "H", links_path, :class => "logo-link pull-left" %>
      </div>
    </div>
    <div class="col-sm-6 center" style="margin-top:20px; padding-left: 0;">
      <span class="tagline"><br>The four best developer<br> links, every day</span>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1 col-sm-offset-2">
      <div class="date">
        <%= @today.first.published.strftime("%A") %>
      </div>
      <div class="date-number">
        <%= @today.first.published.strftime("%m/%d") %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1 posts">
    <hr>
      <% @today.each do |link| %>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-8">
          <h3 class="link-title"><a href="<%= link.url %>"><%= link.title %></a></h3>
          <p class="link-description"><%= link.description %></p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="<%= link.url %>"><img class="link-preview" src="<%= link.preview %>"></a>
        </div>
      </div>

      <hr>
      <% end %>

    </div>
  </div>

<div class="newsletter-wrapper">
  <div class="newsletter text-center">
    <div class="newsletter-tagline pull-left">
      <h4>Get the four Hotpatch picks in your inbox every day!</h4>
    </div>
    <form class="newsletter-form">
      <input type="text" class="form-control email-input pull-left" name="email" value="" placeholder="Your Email">
      <button type="submit" class="newsletter-button btn btn-primary">Subscribe</button>
    </form>
  </div>
</div>

<% unless @yesterday.blank?%>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-2">
      <div class="date">
        <%= @yesterday.first.published.strftime("%A") %>
      </div>
      <div class="date-number">
        <%= @yesterday.first.published.strftime("%m/%d") %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1 posts">
      <hr>
      <% @yesterday.each do |link| %>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-8">
          <p><%= link.title %></p>
          <p><%= link.description %></p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="link-preview" src="<%= link.preview %>">
        </div>
      </div>

      <% end %>

    </div>
  </div>
<% end %>


<div class="col-sm-4 col-sm-offset-4">
  <%= link_to 'New Link', new_link_path %>
</div>
