<p id="notice"><%= notice %></p>

<h1><%= @today.first.published.strftime("%A %e/%d") %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Url</th>
      <th>Preview</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @today.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.description %></td>
        <td><%= link.url %></td>
        <td><%= link.preview %></td>
        <td><%= link.published.strftime("%A %e/%d") %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1><%= @yesterday.first.published.strftime("%A %e/%d") %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Url</th>
      <th>Preview</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yesterday.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.description %></td>
        <td><%= link.url %></td>
        <td><%= link.preview %></td>
        <td><%= link.published.strftime("%A %e/%d") %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Link', new_link_path %>
